.main_container {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top:10%;
}

.title-div {
  width: 150px;
}

.sub-container {
  margin-left: 25%;
}

.description {
  font-size: 13px;
  color: white;
}

a {
  text-decoration:  none;
  color: blue;
}

.a-div {
  color: white;
}

.welcome_text {
  font-weight: bolder;
}

.title {
  color: white;
  font-weight: 400;
}

.center {
  text-align: center !important;
}

.card {
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  width: 200px;
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
  overflow: hidden;
}

.card-1 {
  background: rgb(0,153,255);
background: linear-gradient(0deg, rgba(0,153,255,1) 0%, rgba(0,213,255,1) 50%, rgba(0,255,237,1) 100%);
}

.card-2 {
  background: rgb(100,0,255);
background: linear-gradient(0deg, rgba(100,0,255,1) 0%, rgba(0,63,255,1) 50%, rgba(0,140,255,1) 100%);
}

.card-3 {
  background: rgb(96,0,255);
  background: linear-gradient(0deg, rgba(96,0,255,1) 0%, rgba(143,0,255,1) 50%, rgba(216,0,255,1) 100%);
}

.card-5 {
  background: rgb(255,101,183);
  background: linear-gradient(90deg, rgba(255,101,183,1) 0%, rgba(255,29,150,1) 44%, rgba(255,18,18,1) 100%);
}

.card-6 {
  background: rgb(0,217,255);
  background: linear-gradient(90deg, rgba(0,217,255,1) 0%, rgba(0,149,255,1) 50%, rgba(0,54,255,1) 100%);
}

.card-7 {
  background: rgb(255,54,54);
background: linear-gradient(90deg, rgba(255,54,54,1) 0%, rgba(255,79,0,1) 50%, rgba(255,164,0,1) 100%);
}

@media only screen and (max-width: 1400px) {
  .sub-container {
    margin-left: 15%;
  }
}

@media only screen and (max-width: 768px) {
  .sub-container {
    margin-left: 25%;
  }
  .title-div {
    text-align: center;

  }
  .main_container {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 10%;
  }
}

